<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoamin.mapper.ProductMapper">
    <resultMap id="productMap" type="com.luoamin.vo.Product">
        <result column="productid" property="productId"></result>
        <result column="productname" property="productName"></result>
        <result column="productdesc" property="productDesc"></result>
    </resultMap>
    <select id="findById" resultMap="productMap" parameterType="long">
        select productid,productname,productdesc from product WHERE productid=#{id} ;
    </select>
    <select id="findAll" resultMap="productMap">
        SELECT productid,productname,productdesc from product;
    </select>
    <insert id="create" parameterType="com.luoamin.vo.Product">
        INSERT INTO product(productName,productDesc) VALUES (#{productName},database()) ;
    </insert>
</mapper>