<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoamin.mapper.ProductMapper">
    <!-- result不区分单标签和双标签是都都没有问题 -->
    <resultMap id="productMap" type="com.luoamin.vo.Product">
        <result column="productid" property="productId" ></result>
        <result column="productname" property="productName" ></result>
        <result column="productdesc" property="productDesc" ></result>
    </resultMap>
    <select id="findById" resultMap="productMap" parameterType="long">
        select productid,productname,productdesc from product WHERE productid=#{id} ;
    </select>
    <!-- 查询时配置好数据库，springtest，数据库配置错误也会导致Unknown column 'productid' in 'field list'的错误 -->
    <select id="findAll" resultMap="productMap">
        SELECT productid,productname,productdesc from product;
    </select>
    <insert id="create" parameterType="com.luoamin.vo.Product">
        INSERT INTO product(productName,productDesc) VALUES (#{productName},database()) ;
    </insert>
</mapper>